/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoBox {
  padding: 3rem 0 2rem;
  position: relative;
}

.logoBox::before {
  content: '';
  display: block;
  height: 120px;
  margin-bottom: 4rem;
}

.logoBox > .logo {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 120px;
}

@media screen and (max-width: 996px) {
  .logoBox {
    padding: 2rem 0;
  }
  .logoBox > .logo {
    top: 2rem;
  }
}

.playBar {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  background: #edefee;
  border-radius: 8px;
  padding: 8px 16px;
  box-shadow: 0 0 2px rgba(68, 68, 68, 0.4);
  font-weight: bold;
}
.playBar p {
  margin-bottom: 8px;
}
.playBar button {
  width: 100%;
  border: 1px solid #1B1B1D;
  border-radius: 4px;
  line-height: 26px;
  font-weight: bold;
  cursor: pointer;
}